@charset "ISO-8859-1";
* {
	margin: 0px;
	padding: 0px;


/* RESET */
}

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
img {max-width: 500px;}
caption,th { text-align: left; }

table { border-collapse: collapse; border-spacing: 0; }


body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 13px;
	background-repeat: repeat-x;
	margin: 0px;
	background-color:#000 !important;
	padding: 0px;
	overflow:auto;
	/* background-color: #B1B1B1; */
}
strong {
	font-weight: bold;
}
h2 {
	color: #666666;
	font-size: 17px;
}
a {
	color: #021F53;
	text-decoration: none;
}
a:hover {
	color: #13386F;
	text-decoration: underline;
}
.small {
	font-size: 0.8em;
}


.clear {
	clear: both;}
.body {
	background-color: #FFFFFF;

}
.centrato {
	width: 832px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	background-image: url("/uploads/img/sf_main.gif");
	background-repeat: repeat-y;
}
#banner {
	position: relative;
}
#banner #testi h1 {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 20px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	background-position: -2000px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#testi {
	position: absolute;
	z-index: 100;
	left: 30px;
	top: 30px;
	height: 171px;
	width: 239px;
	color: #333333;
}
#header {
	/* background-image: url("/storage/img/header_sf.jpg"); */
	padding: 35px 0px 0px 25px;
	background-repeat: repeat;
	position: relative;
	width: 820px;
	height: 145px;
}
#header  #topmenu {
	position: absolute;
	top: 50px;
	width: 514px;
	left: 180px;
}
#left {
	width: 150px;
	float: left; 
	margin-left: -283px;
	margin-top: 46px;
}
#left h1 {
	font-size: 20px;
}
#left  .pad {
	padding-top: 18px;
	padding-right: 31px;
	padding-left: 31px;
}
#main {
	width: 592px;
	float: left;
}
#main .pad {
	padding-top: 20px;
	padding-right: 21px;
	padding-bottom: 10px;
	padding-left: 33px;
	background-color: #FFFFFF;
}
#main .main_sfondo {
	background-color: #FFFFFF;
	margin-right: 20px;
	padding-bottom: 50px;
}
#main .main_sfondo p {
	margin-right: 20px;
	line-height: 18px;
}
#main h1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B7B7B7;
	/* background-image: url("http://www.comfra.com/css/img/lih1.jpg"); */
	background-repeat: no-repeat;
	background-position: left -5px;
	display: block;
	font-size: 24px;
	margin-bottom: 20px;
	padding-bottom: 1px;
	color: #999999;
}
#main h2 {
	font-weight: normal;
	font-size: 17px;
	display: block;
	margin-bottom: 7px;
	margin-top: 9px;
}
#main .col1 {
	float: left;
	width: 50%;
}
#main .col1 .pad {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#main  li  {
	background-image: url("/uploads/img/li2.gif");
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 10px;
	display: block;
	padding-top: 2px;
	padding-bottom: 5px;
}
#main .navtop {
	text-align: left;
	margin-top: 35px;
}
#main  p a {
	display: block;
	margin-top: 5px;
	font-weight: normal;
	color: #021F53;
}
#main p a:hover {
	display: block;
	font-weight: normal;
	text-decoration: underline;
}
#main .foto {
	float: left;
	width: 100px;
}
#main .testo {
	width: 159px;
	float: left;
}
.logo {
	float: left;
	width: 240px;
	height: 145px;
}
#menusx {
	color: #333333;
}
#menusx .btn_prd {
	background-image: url("/uploads/img/btn_prodotti.gif") !important;
    background-repeat: no-repeat;
    background-position: -240px 0px;
}
#menusx .btn_service {
	background-image: url("/uploads/img/btn_service.gif");
	background-repeat: no-repeat;
	height: 121px;
	width: 240px;
}
#menusx  a {
	color: #021F53;
	display: block;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 32px;
	font-weight: normal;
}
#menusx a:hover {
	color: #13386F;
	text-decoration: underline;
}
#menusx   h1 a {
	color: #021F53;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
#applicazioni {
	background-image: url("/uploads/img/btn_applicazioni.jpg");
	background-repeat: no-repeat;
	color: #333333;
}
#applicazioni li {
	margin-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url("/uploads/img/li.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}
#applicazioni h1 {
	display: block;
	margin-bottom: 5px;
	margin-top: 2px;
}
#applicazioni .content {
	height: 300px;
}
#footer {
	width: 832px;
	margin-top: -10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url("/uploads/img/footer.gif");
	background-position: center top;
	height: 90px;
	background-repeat: no-repeat;
}
#footer .pad {
	margin-right: 33px;
	margin-left: 33px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #C8C8C8;
	padding-top: 8px;
	font-size: 11px;
}
#photogallery {
	background-color: #CECECE;
	margin-top: 20px;
	overflow: visible;
	visibility: visible;
	width: 517px;
}
#photogallery  .col {
	width: 129px;
	float: left;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
#contatti {
	background-image: url("/uploads/img/btn_contatti.gif");
	color: #333333;
}
#contatti .content {
	height: 127px;
}
#contatti a {
	color: #333333;
	font-size: 15px;
	font-weight: normal;
}
#contatti a:hover {
	color: #000000;
	text-decoration: underline;
}
#contatti  h1 {
	color: #333333;
}
.floatleft {
	float: left;
	margin-right: 22px;
}
#banner h2 {
	background-position: -2000px;
	margin-left: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 16px;
	color: #333333;
}
#footer .col {
	width: 50%;
	float: left;
}
.arancio {
	color: #CC6A00;
}
.spaziobottom {
	margin-bottom: 8px;
	margin-top: 8px;
	display: block;
}
.spazio {
	height: 25px;
}
.right {
	text-align: right;
}
.big {
	font-size: 16px;
}
.paddingbottomtxt {
	display: block;
	margin-bottom: 12px;
}
.meniuli{
	
		float: left;
	
}
.meniuli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.meniuli a:hover {
	background-color: #111;
	text-decoration: none;
	color: white;
}
.meniuul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	width:325px;
	border-radius:10px;
    background-color: #333;
}
.meniudiv{
	margin-top: 15px;
	margin-left: 325px;
}

.orangedivleft{
	margin:0px 0px 10px 0px;
	width:200px;
	overflow:auto;
	padding:20px 30px;
	color:black;
	background: linear-gradient(to right, #944e03,#ed9f3b); 
	border-radius: 20px;
}
.graydivleft{
	margin:0px 0px 10px 0px;
	width:200px;
	overflow:auto;
	padding:20px 30px;
	color:black;
	background: linear-gradient(to right, #5c5c5c,#c8c8c8); 
	border-radius: 20px;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.content{
	margin-right: -20px;
	margin-top: 25px;
	width:635px;
	height:1000px;
	float:right;
	/* border:2px solid black; */
}

.selected {
	border: 1px solid white;
}

.lang {
	width: 33.33%;
}