html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
}
.nav-links {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-links li {
	line-height: 1.6em;	
	font-size: 1.2em;
}
#content {
	margin-left: 240px;
	margin-top: 30px;
	margin-right: 50px;
}
.twitthis {
	position: absolute;
	top: 250px;
	left: 20px;
}
pre {
	border-left: 10px solid #777;
	font-size: 0.85em;
	padding: 1em;
	color: black !important;
	overflow-x: auto;
}
.important {
	background: #ddd;
	padding: 0 1em;
	color: #C30;
}
h3 {
	font-size: 1.45em;
	line-height: 1.05em;
	border-bottom: 1px solid #333;
}
.galleryview {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 0.5em;
}
.code_wrapper {
	border: 1px solid #888;
	background: #f0f0f0;
	padding: 10px;
}
code, .code {

}
.options {
	border: 1px solid #777;
	border-right: none;
	font-size: 0.8em;
	font-family: Verdana, Geneva, sans-serif;
}
.options th {
	text-align: left;
	background: #777;
	color: white;
	font-weight: bold;
}
.options th, .options td {
	padding: 4px 10px;
}
.options td {
	border-right: 1px solid #777;
}
#parts-img {
	border: 1px solid black;
}
img.nav {
	border: 1px solid black;
	margin-bottom: 5px;
}
a:link, a:visited {
	color: #3671A8;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #CC5914;
}
.panel-overlay h2,
.panel-overlay p{
	margin: .3em 0;
	visibility: hidden;
}
.panel-overlay p {
	line-height: 1.2em;
	visibility: hidden;
}


